* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: inline-block;
}

#preview {
  height: 200px;
}

#label {
  display: block;
  padding: 24px 0;
}
